<div class="row" id="{{ pk }}">
  <div class="col-md-12" id="{{ pk }}">
    <h2 class="movie" id="{{ pk }}" >{{ title }}</h2>
       <ul>
          <li>Rating: {{ rating }}</li>
          <li>Studio: {{ studio }}</li>
          <li>Genre: {{ genre }}</li>
          <li>Price: {{ price }}</li>
       </ul>
    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>